.btn {
    background-color: black;
    color: #800D0D;
    font-weight: bold;
    margin-top: 6px;
}

.modal {
    // background-color: #800D0D;
    // text-align: center;
    align-items: center;
    justify-content: center;
    width: 500px;
}